body {
  font-family: "Roboto" ,"Raleway", sans-serif ;
  color: 
  #2E2F42;
  background-color: 
  #FFFFFF;
}

.logo-link{
  font-family: "Raleway";
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
}

.logo-link-web{
  font-family: "Raleway";
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color: #4D5AE5;
}

.logo-link:hover{
color: #2E2F42;
}


.nav-list{
  display: inline;
  font-weight:500;
  font-size: 16px;
  line-height: 24px;
  color: #2E2F42;
  letter-spacing: 0.02em;
}

.address-list{
  display: inline;
  font-weight:400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  font-style: normal;
  letter-spacing: 0.02em;
}

a {
  color: #434455;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #404BBF;
}

.button-section{
  background-color:#2E2F42;
  width: 1440px;
height: 600px;
top: 72px;
gap: 0px;
opacity: 0px;
}

.button-title{
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color:#FFFFFF;

  width: 496px;
  height: 120px;
}

.button{
  top: 428px;
  left: 636px;
width: 169px;
height: 56px;
border-radius: 4px;
padding: 16px 32px 16px 32px;
background-color: #4D5AE5;
color: #FFFFFF;
gap: 10px;


font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;
text-shadow: 0px 4px 4px 0px;
}

.quaity-list{
  width: 1128px;
  height: 104px;
  display: flex;
}

.quaity{
  width: 264px;
  display: inline;
}

.quaity-title{
  font-weight:500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #2E2F42;
  width: 264px;
}

.quaity-descr{
  font-weight:400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #434455;
  width: 264px;
}

.team-title{
  font-weight:700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #2E2F42;
}

.team-list{
  display: flex;
}

.team-list-name{
  font-weight:500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.team-list-descr{
  font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.team-section{
  background-color: #F4F4FD;
  height: 732px;
}

.team-list-worker{
  text-align: left;
}

.footer-section{
  background-color: #2E2F42;
  height: 316px;
}

.logo-link-footer{
  font-family: "Raleway";
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color: #F4F4FD;

}

.footer-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #F4F4FD;

  width: 264px;
height: 72px;
}